* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --main-color: #FFC700;
  --secondary-color : #FFFFFF;
  --secondary-light: rgba(255, 255, 255, 0.7);
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  color: var(--secondary-color);
  background-image: url(https://github.com/Amandatec/jornada-do-zero-a-primeira-vaga/blob/main/assets/background-image.png?raw=true);
  background-size: cover;
  background-position: center;
}

#container {
  display: grid;
  place-content: center;

  height: 100vh;

}

h3 {
  margin: 0 auto;
  font-size: 1.6rem;
}

.title {
  font-family: 'Emilys Candy', sans-serif;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 8rem;
  color: var(--main-color);
  text-transform: uppercase;
  margin: .4rem auto;
  
  text-align: center;

  animation: myAnimation 2s ease-in-out infinite;
}

@keyframes myAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

span {
  color: var(--main-color);
}

p {
  color: var(--secondary-light);
  font-size: 2rem;
  margin-bottom: 7.2rem;
}
.links {
  display: flex;
  justify-content: center;
}

a {
  height: 4.8rem;
  padding: 1.2rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  margin: 1.6rem;

  width: 17.2rem;
  text-align: center;
}

#play{
  background-color: var(--main-color);
  text-decoration: none;
  color: #040101;
}

#play:hover {
  background-color:transparent;
  color: var(--main-color);
}
#read-more {
  background-color: transparent;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-decoration-line: underline;
}

#read-more:hover {
  color: var(--main-color);
}
